body {
    background-color: black;
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

body {
    display: flex;
    flex-direction: column;
}

.parentContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: black;
    color: white;
    padding: 6px;
    font-size: 24px;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

.moveDisplayer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
}

.results {
    
    text-align: center;
}

.score {
    color: yellow;
    
    text-align: center;
}
